<!DOCTYPE html>
<html lang="en">
{% load static %}
  <head>
    <meta charset="utf-8" />
    <title>Hyundai - О нас</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta content="" name="keywords" />
    <meta content="" name="description" />

    <!-- Favicon -->
    <link href="{% static 'img/favico.png' %}" rel="icon" />

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&family=Poppins:wght@600;700&display=swap"
      rel="stylesheet"
    />

    <!-- Icon Font Stylesheet -->
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css"
      rel="stylesheet"
    />

    <!-- Libraries Stylesheet -->
    <link href="{% static 'lib/animate/animate.min.css' %}" rel="stylesheet" />
    <link href="{% static 'lib/owlcarousel/assets/owl.carousel.min.css' %}" rel="stylesheet" />

    <!-- Customized Bootstrap Stylesheet -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" />

    <!-- Template Stylesheet -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet" />
    <link href="{% static 'css/dropdown.css' %}" rel="stylesheet" />
  </head>

  <body>
    <!-- Spinner Start -->
    <div
      id="spinner"
      class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center"
    >
      <div class="spinner-grow text-primary" role="status"></div>
    </div>
    <!-- Spinner End -->

    <!-- Topbar Start -->
     <nav
      class="navbar navbar-expand-lg bg-white navbar-light sticky-top px-4 px-lg-5"
    >
      <a href="{% url 'ru_index' %}" class="navbar-brand d-flex align-items-center">
        <h1 class="m-0">
          <img class="img-fluid me-3" src="{% static 'img/logo_main.png' %}" width="40%" />
        </h1>
      </a>
      <button
        type="button"
        class="navbar-toggler"
        data-bs-toggle="collapse"
        data-bs-target="#navbarCollapse"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <div class="navbar-nav mx-auto rounded pe-4 py-3 py-lg-0">
          <a href="{% url 'ru_index' %}" class="nav-item nav-link ">Главная</a>
          <a href="{% url 'ru_models' %}" class="nav-item nav-link">Все модели</a>
          <a href="{% url 'ru_stock' %}" class="nav-item nav-link">Авто в наличии</a>
          <a href="{% url 'ru_testdrive' %}" class="nav-item nav-link">Тест-драйв</a>
          <a href="{% url 'ru_service' %}" class="nav-item nav-link">Услуги</a>
          <a href="{% url 'ru_about' %}" class="nav-item nav-link active">О нас</a>
          <a href="{% url 'ru_contact' %}" class="nav-item nav-link">Свяжитесь с нами</a>
        </div>
        <div class="nav-wrapper">
            <div class="sl-nav">

              <ul>
                <li><img src="{% static 'img/earth.png' %}" width="25px" height="25px"> <!-- <i class="fa fa-angle-down" aria-hidden="true"></i> -->
                  <div class="triangle"></div>
                  <ul>
                    <li><i class="sl-flag flag-de"><div id="germany"></div></i> <a href="{% url 'ru_about' %}"><span class="active">Русский</span></a></li>
                    <li><i class="sl-flag flag-usa"><div id="germany"></div></i><a href="{% url 'about' %}"><span>English</span></a></li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
      </div>
      
    </nav>

    <!-- Page Header Start -->
    <div
      class="container-fluid page-header-about mb-5 wow fadeIn"
      data-wow-delay="0.1s" style="padding-top: 2rem !important;padding-bottom: 0rem !important;"

    >
      <div class="container py-5">
        <h1 class="display-4 animated slideInDown mb-4" style="color: #15233c; text-align: center;">О нас</h1>
        <nav aria-label="breadcrumb animated slideInDown">
        
        </nav>
      </div>
    </div>
    <!-- Page Header End -->

    <!-- About Start -->
    <div class="container-xxl py-5">
      <div class="container">
        <div class="row g-5">
          <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
            <div
              class="position-relative overflow-hidden rounded ps-5 pt-5 h-100"
              style="min-height: 400px"
            >
              <img
                class="position-absolute w-100 h-100"
                src="{% static 'img/about1.jpg' %}"
                alt=""
                style="object-fit: cover"
              />
             
            </div>
          </div>
          <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.5s">
            <div class="h-100">
              <h1 class="display-6 mb-5">
                Hyundai Motor Company 
              </h1>
              <p class="fs-5 text-primary mb-4">
                Компания Hyundai Motor признает важность и влияние автомобилей на человечество. 
              </p>
           
              <p class="mb-4">
               Мы стремимся играть роль, выходящую за рамки простого производителя, желая стать пожизненным спутником клиента. 
              </p>
              <div class="border-top mt-4 pt-4">
                <div class="d-flex align-items-center">
                  
                  <h5 class="mb-0">Отдел сервиса: +993 61 831690</h5>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- About End -->



    <div class="container-xxl py-5">
      <div class="container">
        <div class="row g-4 justify-content-center">
          <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
            <div class="service-item rounded h-100 p-5">
              <p class="mb-4">
                Мы стараемся держать добрые связи с клиентами, выполняя свое видение стать «пожизненным автомобильным партнером и даже больше» и участвовать в «совместной работе для лучшего будущего» в составе Hyundai Motor Group.
                Мы продвигаем корпоративную культуру, ориентированную на клиента, предоставляя наилучшее качество и безупречный сервис всеми усилиями.
                Мы отказываемся быть самодовольными, c непоколебимой страстью и изобретательностью беремся за любую возможность, не важно большой это вызов или маленький, т.к. уверены в достижении наших целей.
                Мы создаем синергию через чувство «единения», чему способствует взаимное общение и сотрудничество внутри компании, а также с нашими деловыми партнерами.
                Hyundai Motor Group разработала новое видение «Вместе к лучшему будущему», ответственно выполняя свою роль в качестве надежной глобальной компании.</p>
            </div>
          </div>



          <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
            <div class="service-item rounded h-100 p-5">
              <div class="d-flex align-items-center ms-n5 mb-4">
              </div>
              <p class="mb-4">
                Мы считаем, что будущее нашей организации лежит в сердцах и возможностях отдельных членов и поможет им развить свой потенциал, создав корпоративную культуру, которая уважает талант.
                Мы уважаем разнообразие культур и обычаев, стремимся быть лучшими в мире в том, что мы делаем, а также стать уважаемым глобальным корпоративным гражданином.
                Компания Hyundai Motor определила свое видение как «Пожизненного партнера в автомобилях и не только», чтобы стать на шаг ближе к своим клиентам и стать их любимым брендом. На сегодня автомобиль уже не просто средство передвижения, которое связывает людей друг с другом; оно стало жизненным пространством, которое занимает большое место в жизни людей. Таким образом, Hyundai Motor Company стремится стать постоянным партнером в повседневной жизни клиентов. В настоящий момент компания разрабатывает экологически чистые и ориентированные на человека технологии для будущего и настраивает оптимизированные глобальные системы управления для обеспечения наилучшего опыта своих клиентов.</p>
            </div>
          </div>
        </div>
      </div>
    </div>

   

    

    <!-- Footer Start -->
    <div
      class="container-fluid bg-dark footer mt-5 pt-5 wow fadeIn"
      data-wow-delay="0.1s"
    >
      <div class="container py-5">
        <div class="row g-5">
          <div class="col-lg-3 col-md-6">
            <h1 class="text-white mb-4">
              <img
                class="img-fluid me-3"
                src="{% static 'img/Hyundai.png' %}" width="70%"
                
              />
            </h1>
            <p>
              Официальный дистрибьютор Hyundai Motor Company в Туркменистане
            </p>
            <!-- <div class="d-flex pt-2">
              <a class="btn btn-square me-1" href=""
                ><i class="fab fa-twitter"></i
              ></a>
              <a class="btn btn-square me-1" href=""
                ><i class="fab fa-facebook-f"></i
              ></a>
              <a class="btn btn-square me-1" href=""
                ><i class="fab fa-youtube"></i
              ></a>
              <a class="btn btn-square me-0" href=""
                ><i class="fab fa-linkedin-in"></i
              ></a>
            </div> -->
          </div>
          <div class="col-lg-3 col-md-6">
            <h5 class="text-light mb-4">Адрес</h5>
            <p>
              <i class="fa fa-map-marker-alt me-3"></i>58 ул. Г. Кулиева, 744015 Ашхабад, Туркменистан
            </p>
            <p><i class="fa fa-phone-alt me-3"></i>+99312 754485</p>
            <p><i class="fa fa-envelope me-3"></i> Info@hyundai.com.tm</p>
          </div>
          <div class="col-lg-3 col-md-6">
            <h5 class="text-light mb-4">Быстрые ссылки</h5>
            <a class="btn btn-link" href="{% url 'ru_about' %}">О нас</a>
            <a class="btn btn-link" href="{% url 'ru_contact' %}">Свяжитесь с нами</a>
            <a class="btn btn-link" href="{% url 'ru_service' %}">Услуги</a>
            <a class="btn btn-link" href="{% url 'ru_stock' %}">Авто в наличии</a>
            <a class="btn btn-link" href="{% url 'ru_testdrive' %}">Тест-драйв</a>
          </div>
          <div class="col-lg-3 col-md-6">
            <h5 class="text-light mb-4">Новостная рассылка</h5>
            
            <div class="d-flex pt-2">
              <a class="btn btn-square me-1" href=""
                ><i class="fab fa-twitter"></i
              ></a>
              <a class="btn btn-square me-1" href=""
                ><i class="fab fa-facebook-f"></i
              ></a>
              <a class="btn btn-square me-1" href=""
                ><i class="fab fa-youtube"></i
              ></a>
              <a class="btn btn-square me-0" href=""
                ><i class="fab fa-linkedin-in"></i
              ></a>
            </div>
          </div>
        </div>
      </div>
      <div class="container-fluid copyright">
        <div class="container">
          <div class="row">
            <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
              HYUNDAI &copy; 2022, Все права защищены.
            </div>
          <!--   <div class="col-md-6 text-center text-md-end">
              /*** This template is free as long as you keep the footer author’s credit link/attribution link/backlink. If you'd like to use the template without the footer author’s credit link/attribution link/backlink, you can purchase the Credit Removal License from "https://htmlcodex.com/credit-removal". Thank you for your support. ***/
              Designed By <a href="https://htmlcodex.com">HTML Codex</a>
              <br />Distributed By:
              <a href="https://themewagon.com" target="_blank">ThemeWagon</a>
            </div> -->
          </div>
        </div>
      </div>
    </div>
    <!-- Footer End -->

    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"
      ><i class="bi bi-arrow-up"></i
    ></a>

    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="{% static 'lib/wow/wow.min.js' %}"></script>
    <script src="{% static 'lib/easing/easing.min.js' %}"></script>
    <script src="{% static 'lib/waypoints/waypoints.min.js' %}"></script>
    <script src="{% static 'lib/owlcarousel/owl.carousel.min.js' %}"></script>
    <script src="{% static 'lib/counterup/counterup.min.js' %}"></script>

    <!-- Template Javascript -->
    <script src="{% static 'js/main.js' %}"></script>
  </body>
</html>
